*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
.env*
.idea
/static/
.DS_Store
keel/.DS_Store
env/
*db.sqlite3
*info.log
*.log
UserDocuments/*
/.vscode
*.env
/media/*
states+cities.json
countries+states.json
.coverage
/htmlcov
pytest.ini